{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "6.1"
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ],
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}